/* css reset  */
/* * {
  box-sizing: border-box;
  font-family: "Roboto";
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
} */
/* / HTML5 display-role reset for older browsers */
/* article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  max-width: 100%;
  height: auto;
}

body::-webkit-scrollbar {
  display: none;
} */

/* CreateProductPage */

/* nav */

.content {
  /* background-color: pink; */
  width: 100%;
}

/* #informationForm {
  max-width: 1500px;
} */

.createProductTitle {
  /* background-color: pink; */
  height: 3.5rem;
  border-bottom: 6.6px solid #f2af44;
  /* width: 100% !important; */
}

.title {
  width: 100%;
  /* border: 1px solid red; */
  margin-top: 1.43rem;
  text-align: center;
}

.title P {
  font-size: 1.75rem;
  font-weight: 900;
}

/* main */

#informationForm {
  border: 2px solid blue;
  width: 95%;
  margin-left: 4.5rem;
}

.basicInformationTitle {
  margin-top: 1.25rem;
  margin-bottom: 0.93rem;
  color: #f2af44;
  font-size: 1.38rem;
  font-weight: bold;
}

.basicInformationInput {
  display: flex;
}

select::-ms-expand {
  display: none;
}

.select {
  border: 1px solid yellow;
  border-color: lightgray;
  border-radius: 0rem;
  font-size: 0.5rem;
  padding-bottom: 0rem;
  width: 13.93rem;
  height: 1.88rem;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  background: url("../../images/Polygon 1.png") no-repeat 97% center;
  padding-right: 3rem;
  margin-bottom: 1rem;
}

.input {
  /* background: pink; */
  width: 13.93rem;
  height: 1.88rem;
  border-color: lightgray;
  border-radius: 0rem;
  margin-bottom: 1rem;
}

.input.form-control:focus {
  border-color: #ccc;
  outline: none;
  box-shadow: none;
}

.basicInformationInputName {
  font-size: 1.13rem;
  font-weight: 900;
  color: #3e414f;
}

.basicName {
  margin-right: 2.72rem;
}

.basicInformationCode {
  margin-right: 2.72rem;
}

.basicInformationCategory {
  margin-left: 1.46rem;
}

.basicPrice {
  margin-left: 1.46rem;
}

.basicInformationUnit {
  margin-left: 2rem;
  margin-right: 2.6rem;
}

.basicInformationCertificate {
  margin-left: 2rem;
  margin-right: 0.4rem;
}

.otherInformationTitle {
  margin-top: 2.81rem;
  margin-bottom: 0.93rem;
  color: #f2af44;
  font-size: 1.38rem;
  font-weight: bold;
}

/* .barCodeAddOldCode {
  flex-grow: 1;
}

.supplierAddBrand {
  flex-grow: 1;
}

.attributeAddColor {
  flex-grow: 1;
} */

.otherInformationInput {
  /* border: 1px solid red; */
  display: flex;
}

.otherInformationDescriptionRelative {
  /* border: 1px solid red; */
  position: relative;
}

.otherInformationDescriptionTitle {
  /* margin-right: 2.8rem; */

  position: absolute;
  top: 0.1rem;
}

.otherInformationDescriptionInput {
  /* border: 1px solid red; */
  width: 54.2rem !important;
  height: 4.25rem !important;
  margin-left: 6rem;
  /* margin-right: 29rem; */
  border-radius: 0 !important;
  margin-bottom: 3rem;
}

.inquireBtn {
  background-color: #f2af44;
  width: 2.5rem;
  height: 1.3rem;
  border-radius: 0rem;
  font-size: 0.88rem;
  font-weight: 400;
  white-space: nowrap;
  line-height: 1.03rem;
  position: relative;
  margin-left: 0.38rem;
  margin-top: -0.2rem;
  color: white;
}

.buttonWord {
  position: absolute;
  left: 0.38rem;
  top: 0.1rem;
}

.removeBtn {
  background-color: #f2af44;
  width: 2.5rem;
  height: 1.3rem;
  border-radius: 0rem;
  font-size: 0.88rem;
  font-weight: 400;
  white-space: nowrap;
  line-height: 1.03rem;
  position: relative;
  margin-left: 0.38rem;
  margin-top: -0.2rem;
  color: white;
}

.removeButtonWord {
  position: absolute;
  left: 0.38rem;
  top: 0.1rem;
}

button {
  border-color: #ccc !important;
  outline: 0 !important;
  box-shadow: none !important;
}

.otherInternationalBarcode {
  margin-right: 0.6rem;
}

.otherOldCode {
  margin-right: 1.7rem;
}

.otherInformationAttribute {
  margin-left: 1.46rem;
}

.otherInformationColor {
  margin-left: 1.46rem;
}

.otherInformationSupplier {
  margin-left: 2rem;
  margin-right: 1.4rem;
}

.otherInformationSupplierInput {
  /* background-color: pink; */
  width: 13.93rem;
  height: 1.88rem;
  border-color: lightgray;
  border-radius: 0rem;
  margin-bottom: 1rem;
}

.otherInformationBrand {
  margin-left: 2rem;
  margin-right: 2.5rem;
}

.otherInformationSaleDate {
  display: flex;
  margin-left: 0rem;
  margin-top: 0rem;
}

.otherInformationSaleDateTitle {
  margin-right: 1.53rem;
}

.otherInformationDash {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  font-weight: bold;
}

.otherInformationIfInvalid {
  margin-left: 1.05rem;
  margin-right: 2rem;
}

.otherInformationIfInvalidSelect {
  width: 6.27rem !important;
  height: 1.88rem !important;
}

.otherInformationCalendarImgRelative {
  position: relative;
}

.otherInformationCalendarImg {
  position: absolute;
  left: 20.5rem;
  top: 0.3rem;
}

.otherInformationCalendarImg2 {
  position: absolute;
  left: 36rem;
  top: 0.3rem;
}

.otherInformationSetPrice {
  margin-top: 1rem;
}

.otherInformationAllTitle {
  display: flex;
}

.otherInformationSetPriceTitle {
  margin-right: 0.4rem;
}

.discountMerchandise {
  margin-left: 1.81rem;
  margin-right: 2rem;
}

.otherInformationBatchNumber {
  margin-left: 1.07rem;
  margin-right: 2rem;
}

.otherInformationInventory {
  margin-left: 1.07rem;
  margin-right: 2rem;
}

.otherInformationSafetyStock {
  margin-left: 1.07rem;
  margin-right: 2rem;
}

.otherInformationDrugOff {
  display: flex;
  margin-top: 1rem;
}

.otherInformationDrugOffTitle {
  margin-right: 1.5rem;
}

.otherInformationTestValue {
  margin-left: 1.8rem;
  margin-right: 2.7rem;
}

.otherInformationLeast {
  font-size: 1.13rem;
  font-weight: 500;
  margin-right: 0.5rem;
}
.otherInformationMaximum {
  font-size: 1.13rem;
  font-weight: 500;
  margin-right: 0.5rem;
}

.otherInformationLeastInput {
  width: 6.06rem !important;
  height: 1.88rem !important;
}

.otherInformationMaximumInput {
  width: 6.06rem !important;
  height: 1.88rem !important;
  border-radius: 0px;
}

.otherInformationTestValueDash {
  margin-left: 0.3rem;
  margin-right: 0.6rem;
}

.otherInformationInputPart3 {
  margin-top: 3.68rem;
}

.otherInformationSubjects {
  display: flex;
}

.otherInformationPurchase {
  margin-right: 2.8rem;
}

.otherInformationPurchaseTitle {
  margin-right: 1rem;
}

.otherInformationSalesTitle {
  margin-right: 1rem;
}

.otherInformationSaleCurrencyFlex {
  display: flex;
}

.otherInformationSaleCurrencyTitle {
  margin-right: 1rem;
}

.otherInformationCostCalculation {
  margin-left: 0.5rem;
  margin-right: 1.4rem;
}

.otherInformationTaxCategory {
  margin-left: 0.9rem;
  margin-right: 0.2rem;
}

.otherInformationInputPart4 {
  margin-top: 4rem;
}

.otherInformationPart4AllInput {
  display: flex;
}

.otherInformationBoxNumberInput {
  width: 6.96rem !important;
  margin-bottom: 1rem;
}

.otherInformationCalculationTitle {
  margin-right: 0.55rem;
}

.otherInformationCalculationInput {
  width: 3.48rem !important;
}

.otherInformationBoxNumber {
  margin-right: 1.7rem;
}

.otherInformationQuantity,
.otherInformationUnitNetWeight,
.otherInformationNumber,
.otherInformationVolume,
.otherInformationSpecification,
.otherInformationCalculationTitle {
  margin-left: 1rem;
}

.otherInformationVolume {
  margin-right: 4rem;
}

.otherInformationUploadPhoto {
  margin-top: 1.1rem;
}

.otherInformationProductPicture {
  margin-right: 0.5rem;
}

.otherInformationUploadPhotoTitle {
  font-size: 0.88rem;
  font-weight: 400;
}

.informationTotalBtn {
  width: 100%;
  text-align: center;
  margin-top: 5.93rem;
  margin-bottom: 5rem;
}

.informationCreateBtn {
  border-radius: 0;
  border-color: #3e414f !important;
  width: 6.88rem;
  height: 2.19rem;
  font-size: 1.12rem;
  font-weight: bold;
  margin-right: 0.6rem;
}

.informationCancelBtn {
  border-radius: 0;
  border-color: #3e414f !important;
  width: 6.88rem;
  height: 2.19rem;
  font-size: 1.12rem;
  font-weight: bold;
}

.informationButtonActive {
  background-color: #f2af44;
  border: none;
}

.otherInformationUnitWeightInput {
  /* text-indent:4.6rem; */
  background: url("../../images/g.png") no-repeat 97% center;
  background-position-x: 90%;
  background-position-y: 70%;
}

.otherInformationVolumeInput {
  background: url("../../images/cbm.png") no-repeat 97% center;
  background-position-x: 90%;
  background-position-y: 70%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: transparent;
  opacity: 0;

  margin-right: -0.9rem;
  margin-top: 0.2rem;
  z-index: 999;
}

/* ---------------media------------------------------------------- */

@media screen and (max-width: 92rem) {
  #informationForm {
    border: 2px solid darkslateblue;
    width: 95%;
    margin-left: 3rem;
  }

  .discountMerchandise {
    margin-left: 1.81rem;
    margin-right: 0.3rem;
  }

  .otherInformationBatchNumber {
    margin-left: 1.07rem;
    margin-right: 0.3rem;
  }

  .otherInformationInventory {
    margin-left: 1.07rem;
    margin-right: 0.3rem;
  }

  .otherInformationSafetyStock {
    margin-left: 1.07rem;
    margin-right: 0.3rem;
  }
}

@media screen and (max-width: 78.5rem) {
  #informationForm {
    border: 2px solid darkorange;
    width: 95%;
    margin-left: 3rem;
    width: 95%;
    margin-left: 3rem;
  }

  .otherInformationTitleInput {
    margin-top: 1rem;
    width: 7.4rem !important;
  }

  .discountMerchandiseInput {
    margin-left: 1.9rem;
    width: 8.5rem !important;
  }

  .otherInformationBatchNumberInput {
    margin-left: 1.1rem;
    width: 5.16rem !important;
  }

  .otherInformationInventoryInput {
    margin-left: 1.1rem;
    width: 6.3rem !important;
  }

  .otherInformationSafetyStockInput {
    margin-left: 1.1rem;
    width: 6.3rem !important;
  }
}

@media screen and (max-width: 72.5rem) {
  #informationForm {
    border: 2px solid red;
    width: 95%;
    margin: 2rem;
  }

  .select {
    width: 10rem;
    height: 1.88rem;
  }

  .input {
    /* background: pink; */
    width: 10rem;
    height: 1.88rem;
    border-color: lightgray;
    border-radius: 0rem;
    margin-bottom: 1rem;
  }

  .input.form-control:focus {
    border-color: #ccc;
    outline: none;
    box-shadow: none;
  }

  .basicName {
    margin-right: 0rem;
  }

  .basicInformationCode {
    margin-right: 0rem;
  }

  .basicInformationCategory {
    margin-left: 1.46rem;
  }

  .basicPrice {
    margin-left: 1.46rem;
  }

  .basicInformationUnit {
    margin-left: 2.3rem;
    margin-right: 2.6rem;
  }

  .basicInformationCertificate {
    margin-left: 2.3rem;
    margin-right: 0.4rem;
  }

  .otherInformationDescriptionInput {
    width: 42.5rem !important;
    height: 4.25rem !important;
    margin-left: 5.9rem;
  }

  .otherInformationBoxNumberInput {
    width: 5rem !important;
    margin-bottom: 1rem;
  }

  .otherInformationCalculationTitle {
    margin-right: 0.55rem;
  }

  .otherInformationCalculationInput {
    width: 2.5rem !important;
  }

  .otherInformationBoxNumber {
    margin-right: 1.7rem;
  }

  .otherInformationQuantity,
  .otherInformationUnitNetWeight,
  .otherInformationNumber,
  .otherInformationVolume,
  .otherInformationSpecification,
  .otherInformationCalculationTitle {
    margin-left: 1rem;
  }

  .otherInformationVolume {
    margin-right: 4rem;
  }

  .otherInformationSupplierInput {
    width: 9.99rem !important;
  }
}

@media screen and (max-width: 63rem) {
  #informationForm {
    border: 2px solid lightgreen;
    width: 95%;
    margin-left: 1rem;
  }

  .basicInformationUnit {
    margin-left: 2.3rem;
    margin-right: 2.2rem;
  }

  .basicInformationCertificate {
    margin-left: 2.3rem;
    margin-right: 0rem;
  }

  .otherInternationalBarcode {
    margin-right: 0rem;
  }

  .otherOldCode {
    margin-right: 1.1rem;
  }

  .otherInformationAttribute {
    margin-left: 1.46rem;
  }

  .otherInformationColor {
    margin-left: 1.46rem;
  }

  .otherInformationSupplier {
    margin-left: 2rem;
    margin-right: 0rem;
  }

  .otherInformationSupplierInput {
    width: 10rem;
  }

  .otherInformationBrand {
    margin-left: 2rem;
    margin-right: 1.2rem;
  }

  .otherInformationButtonRelative {
    position: relative;
  }

  .otherInformationButton {
    position: absolute;
    bottom: 3rem;
    right: 0.8rem;
    border: 1px solid red !important;
  }

  .otherInformationDescriptionInput {
    width: 41.2rem !important;
    height: 4.25rem !important;
    margin-left: 5.3rem;
  }

  .otherInformationSaleDateTitle {
    margin-right: 0rem;
  }

  .otherInformationIfInvalid {
    margin-left: 3.8rem;
    margin-right: 0rem;
  }

  .otherInformationCalendarImgRelative {
    position: relative;
  }

  .otherInformationCalendarImg {
    position: absolute;
    left: 16.6rem;
    top: 0.3rem;
  }

  .otherInformationCalendarImg2 {
    position: absolute;
    left: 30.1rem;
    top: 0.3rem;
  }

  .otherInformationDrugOffTitle {
    margin-right: 0rem;
  }

  .otherInformationTestValue {
    margin-left: 1.8rem;
    margin-right: 0.4rem;
  }

  .otherInformationInputPart3 {
    margin-top: 8rem !important;
  }

  .otherInformationPurchaseTitle {
    margin-right: 0rem;
  }

  .otherInformationSalesTitle {
    margin-right: 0rem;
  }

  .otherInformationSaleCurrencyTitle {
    margin-right: 0rem;
  }

  .otherInformationCostCalculation {
    margin-right: 0rem;
  }

  .otherInformationTaxCategory {
    margin-right: 0rem;
  }

  .otherInformationBoxNumberInput {
    width: 5rem !important;
    margin-bottom: 1rem;
  }

  .otherInformationCalculationTitle {
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .otherInformationCalculationInput {
    width: 2.5rem !important;
  }

  .otherInformationBoxNumber {
    margin-right: 0rem;
  }

  .otherInformationQuantity,
  .otherInformationUnitNetWeight,
  .otherInformationNumber,
  .otherInformationVolume,
  .otherInformationSpecification {
    margin-left: 1rem;
  }

  .otherInformationVolume {
    margin-right: 0rem;
  }
}

@media screen and (max-width: 55.1rem) {
  #informationForm {
    border: 2px solid black;
    width: 95%;
    margin-left: 0 auto;
  }

  .otherInformationPurchase {
    margin-right: 2.8rem;
  }

  .otherInformationPurchaseTitle {
    margin-right: 1rem;
  }

  .otherInformationSalesTitle {
    margin-right: 1rem;
  }

  .otherInformationSaleCurrencyTitle {
    margin-right: 1rem;
  }

  .otherInformationCostCalculation {
    margin-left: 0.5rem;
    margin-right: 1.4rem;
  }

  .otherInformationTaxCategory {
    margin-left: 0.9rem;
    margin-right: 0.2rem;
  }

  .otherInformationPurchaseInput {
    width: 9rem !important;
  }

  .otherInformationSalesInput {
    width: 9rem !important;
  }

  .otherInformationSaleCurrencyInput {
    width: 6rem !important;
  }

  .otherInformationCostCalculationInput {
    width: 6rem !important;
  }

  .otherInformationTaxCategoryInput {
    width: 6rem !important;
  }

  .otherInformationBoxNumberInput {
    width: 4rem !important;
    margin-bottom: 1rem;
  }

  .otherInformationCalculationTitle {
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .otherInformationCalculationInput {
    width: 2.5rem !important;
  }

  .otherInformationBoxNumber {
    margin-right: 0rem;
  }

  .otherInformationQuantity,
  .otherInformationUnitNetWeight,
  .otherInformationNumber,
  .otherInformationVolume,
  .otherInformationSpecification {
    margin-left: 1rem;
  }

  .otherInformationVolume {
    margin-right: 0rem;
  }
}

@media screen and (max-width: 52.5rem) {
  #informationForm {
    border: 2px solid yellow;
    width: 95%;
    margin: 0 auto;
  }

  .select {
    width: 8rem;
    height: 1.88rem;
  }

  .input {
    /* background: pink; */
    width: 8rem;
    height: 1.88rem;
    border-color: lightgray;
    border-radius: 0rem;
    margin-bottom: 1rem;
  }

  .input.form-control:focus {
    border-color: #ccc;
    outline: none;
    box-shadow: none;
  }

  .otherInformationSupplierInput {
    width: 8rem !important;
  }

  .basicName {
    margin-right: 0rem;
  }

  .basicInformationCode {
    margin-right: 0rem;
  }

  .basicInformationCategory {
    margin-left: 1.46rem;
  }

  .basicPrice {
    margin-left: 1.46rem;
  }

  .basicInformationUnit {
    margin-left: 2.3rem;
    margin-right: 2.6rem;
  }

  .basicInformationCertificate {
    margin-left: 2.3rem;
    margin-right: 0.4rem;
  }

  .otherInformationDescriptionInput {
    width: 35.2rem !important;
    height: 4.25rem !important;
    margin-left: 5.3rem;
  }

  .otherInformationSaleDateInput {
    width: 7rem !important;
    height: 1.88rem !important;
  }

  .otherInformationIfInvalid {
    margin-left: 1rem;
    margin-right: 0rem;
  }

  .otherInformationSaleDateTitle {
    margin-right: 0rem;
  }

  .otherInformationCalendarImgRelative {
    position: relative;
  }

  .otherInformationCalendarImg {
    position: absolute;
    left: 12rem !important;
    top: 0.3rem;
  }

  .otherInformationCalendarImg2 {
    position: absolute;
    left: 20.85rem !important;
    top: 0.3rem;
  }

  .otherInformationBoxNumberInput {
    width: 3.5rem !important;
    margin-bottom: 1rem;
  }

  .otherInformationCalculationTitle {
    margin-right: 0rem;
    margin-left: -1rem;
  }

  .otherInformationCalculationInput {
    width: 2.5rem !important;
  }

  .otherInformationBoxNumber {
    margin-right: 0rem;
  }

  .otherInformationQuantity,
  .otherInformationUnitNetWeight,
  .otherInformationNumber,
  .otherInformationVolume,
  .otherInformationSpecification {
    margin-left: 1rem;
  }

  .otherInformationVolume {
    margin-right: 0rem;
  }

  .otherInformationVolumeInput {
    width: 4.38rem !important;
  }
}

@media screen and (max-width: 47.5rem) {
  #informationForm {
    border: 2px solid red;
    width: 95%;
    margin: 0 auto;
  }

  .select {
    width: 7rem;
    height: 1.88rem;
  }

  .input {
    /* background: pink; */
    width: 7rem;
    height: 1.88rem;
    border-color: lightgray;
    border-radius: 0rem;
    margin-bottom: 1rem;
  }

  .input.form-control:focus {
    border-color: #ccc;
    outline: none;
    box-shadow: none;
  }

  .otherInformationSupplierInput {
    width: 7rem !important;
  }

  .basicInformationCertificate {
    margin-right: 0.5rem;
  }

  .otherInformationBrand {
    margin-left: 2rem;
    margin-right: 1rem;
  }

  .basicInformationInputName {
    font-size: 1.06rem;
    white-space: nowrap;
  }

  .otherInformationDescriptionInput {
    width: 31.7rem !important;
    height: 4.25rem !important;
    margin-left: 5.1rem;
  }

  .otherInformationCalendarImgRelative {
    position: relative;
  }

  .otherInformationCalendarImg {
    position: absolute;
    left: 11.6rem !important;
    top: 0.3rem;
  }

  .otherInformationCalendarImg2 {
    position: absolute;
    left: 20.45rem !important;
    top: 0.3rem;
  }

  .otherInformationTitleInput {
    margin-top: 1rem;
    width: 6.95rem !important;
  }

  .discountMerchandiseInput {
    margin-left: 1.9rem;
    width: 7.9rem !important;
  }

  .otherInformationBatchNumberInput {
    margin-left: 1.1rem;
    width: 4.75rem !important;
  }

  .otherInformationInventoryInput {
    margin-left: 1.1rem;
    width: 5.95rem !important;
  }

  .otherInformationSafetyStockInput {
    margin-left: 1.1rem;
    width: 5.95rem !important;
  }

  .otherInformationLeast {
    font-size: 1.03rem;
  }
  .otherInformationMaximum {
    font-size: 1.03rem;
  }

  .otherInformationPurchase {
    margin-right: 2.8rem;
  }

  .otherInformationPurchaseTitle {
    margin-right: 0rem;
  }

  .otherInformationSalesTitle {
    margin-right: 0rem;
  }

  .otherInformationSaleCurrencyTitle {
    margin-right: 0rem;
  }

  .otherInformationCalculationTitle {
    margin-left: -0.5rem !important;
  }

  .otherInformationCostCalculation {
    margin-left: 1rem;
    margin-right: 0rem;
  }

  .otherInformationTaxCategory {
    margin-left: 0.9rem;
    margin-right: 0.2rem;
  }

  .otherInformationPurchaseInput {
    width: 9rem !important;
  }

  .otherInformationSalesInput {
    width: 9rem !important;
  }

  .otherInformationSaleCurrencyInput {
    width: 6rem !important;
  }

  .otherInformationCostCalculationInput {
    width: 6rem !important;
  }

  .otherInformationTaxCategoryInput {
    width: 6rem !important;
  }

  .otherInformationBoxNumberInput {
    width: 2.6rem !important;
    margin-bottom: 1rem;
  }

  .otherInformationCalculationTitle {
    margin-right: 0rem;
    margin-left: -1rem;
  }

  .otherInformationCalculationInput {
    width: 2rem !important;
  }

  .otherInformationBoxNumber {
    margin-right: 0rem;
  }

  .otherInformationQuantity,
  .otherInformationUnitNetWeight,
  .otherInformationNumber,
  .otherInformationVolume,
  .otherInformationSpecification {
    margin-left: 1rem;
  }

  .otherInformationVolume {
    margin-right: 0rem;
  }

  .otherInformationVolumeInput {
    width: 3.8rem !important;
  }

  .otherInformationLeastInput {
    width: 4rem !important;
    height: 1.88rem !important;
  }

  .otherInformationMaximumInput {
    width: 4rem !important;
    height: 1.88rem !important;
  }
}

@media screen and (max-width: 42rem) {
  #informationForm {
    border: 2px solid orchid;
    width: 90%;
    margin: 0 auto;
  }

  .basicInformationInput {
    display: block;
  }

  .select {
    width: 20rem;
    height: 1.88rem;
    /* margin-bottom: 0rem; */
  }

  .input {
    /* background: pink; */
    width: 20rem;
    height: 1.88rem;
    border-color: lightgray;
    border-radius: 0rem;
    margin-bottom: 1rem;
  }

  .input.form-control:focus {
    border-color: #ccc;
    outline: none;
    box-shadow: none;
  }

  .basicName {
    margin-right: 2.6rem;
  }

  .basicInformationCode {
    margin-right: 2.6rem;
  }

  .basicInformationCategory {
    margin-left: 0rem;
    margin-right: 2.6rem;
  }

  .basicPrice {
    margin-left: 0rem;
    margin-right: 2.6rem;
  }

  .basicInformationUnit {
    margin-left: 0rem;
    margin-right: 2.6rem;
  }

  .basicInformationCertificate {
    margin-left: 0rem;
    margin-right: 0.5rem;
  }

  .otherInformationInput > div {
    display: inline-block;
    /* border: 1px solid red; */
  }

  .otherInformationInput ~ div {
    display: inline-block;
    /* border: 1px solid yellow; */
  }

  .otherInformationSupplierInput {
    width: 20rem !important;
  }

  .otherInformationInput {
    display: block;
  }

  .otherInternationalBarcode {
    margin-right: 0.6rem;
  }

  .otherOldCode {
    margin-right: 1.7rem;
  }

  .otherInformationAttribute {
    margin-left: 0rem;
    margin-right: 2.7rem;
  }

  .otherInformationColor {
    margin-left: 0rem;
    margin-right: 2.7rem;
  }

  .otherInformationSupplier {
    margin-left: 0rem;
    margin-right: 1.6rem;
  }

  .otherInformationBrand {
    margin-left: 0rem;
    margin-right: 2.65rem;
  }

  .otherInformationDescriptionInput {
    width: 20.1rem !important;
    height: 4.25rem !important;
    margin-left: 5.5rem;
  }

  .otherInformationButtonRelative {
    position: relative;
  }

  .otherInformationButton {
    position: absolute;
    bottom: 1rem !important;
    right: -5.7rem;
    /* border: 1px solid green !important; */
  }

  .otherInformationSaleDate {
    display: block;
    margin-left: 0rem;
    margin-top: 1rem;
  }

  .otherInformationSaleDateInput {
    width: 8.06rem !important;
    height: 1.88rem !important;
    margin-left: 2.4rem !important;
  }

  .otherInformationDash {
    margin-right: -2.2rem !important;
    margin-left: 0.1rem;
    font-weight: bold;
  }

  .otherInformationIfInvalid {
    margin-left: 0rem;
    margin-right: 3.5rem;
  }

  .otherInformationIfInvalidSelect {
    width: 17.25rem !important;
    height: 1.88rem !important;
    margin-top: 1rem !important;
  }

  .otherInformationCalendarImgRelative {
    position: relative;
  }

  .otherInformationCalendarImg {
    position: absolute;
    left: 14.9rem !important;
    top: 0.3rem;
  }

  .otherInformationCalendarImg2 {
    position: absolute;
    left: 24.09rem !important;
    top: 0.3rem;
  }

  .otherInformationSetPrice {
    margin-top: 0rem !important;
  }

  .otherInformationAllTitle {
    display: block;
  }

  .otherInformationTitleInput {
    margin-top: 1rem;
    width: 17.25rem !important;
    margin-left: 1rem;
  }

  .discountMerchandise {
    margin-left: 0rem;
  }

  .discountMerchandiseInput {
    margin-left: 0rem;
    width: 17.3rem !important;
  }

  .otherInformationBatchNumber {
    margin-left: 0rem;
    margin-right: 2.4rem;
  }

  .otherInformationInventory {
    margin-left: 0rem;
    margin-right: 2.3rem;
  }

  .otherInformationSafetyStock {
    margin-left: 0rem;
    margin-right: 2.3rem;
  }

  .otherInformationBatchNumberInput {
    margin-left: 1.1rem;
    width: 17.3rem !important;
  }

  .otherInformationInventoryInput {
    margin-left: 0.1rem;
    width: 17.3rem !important;
  }

  .otherInformationSafetyStockInput {
    margin-left: 0.1rem;
    width: 17.3rem !important;
  }

  .otherInformationDrugOff {
    display: block;
    margin-top: 0rem;
  }

  .otherInformationDrugOffTitle {
    margin-right: 2.3rem;
  }

  .otherInformationTestValue {
    margin-left: 0rem;
    margin-right: 1rem;
    margin-top: 2rem;
  }

  .otherInformationLeast {
    font-size: 1.03rem;
    font-weight: 500;
    margin-right: 0rem;
    margin-top: 2rem;
  }
  .otherInformationMaximum {
    font-size: 1.03rem;
    font-weight: 500;
    margin-right: 0rem;
  }

  .otherInformationLeastInput {
    width: 5.65rem !important;
    height: 1.88rem !important;
    margin-top: 1rem;
  }

  .otherInformationMaximumInput {
    width: 5.65rem !important;
    height: 1.88rem !important;
    margin-top: 1rem;
  }

  .otherInformationDrugOffTitleInput {
    width: 17.35rem !important;
  }

  .otherInformationTestValueDash {
    margin-left: 0.3rem;
    margin-right: 0.6rem;
  }

  .otherInformationInputPart3 {
    margin-top: 1rem;
  }

  .otherInformationSubjects {
    display: block;
  }

  .otherInformationPurchase {
    margin-right: 0rem;
  }

  .otherInformationPurchaseTitle {
    margin-right: 3.2rem;
  }

  .otherInformationSalesTitle {
    margin-right: 3.2rem;
  }

  .otherInformationSubjectsButton {
    right: -5.7rem;
  }

  .otherInformationPurchaseInput,
  .otherInformationSalesInput {
    width: 17.5rem !important;
  }
  .otherInformationSaleCurrencyFlex {
    display: block;
  }

  .otherInformationSaleCurrencyTitle {
    margin-right: 3.1rem;
  }

  .otherInformationCostCalculation {
    margin-left: 0rem;
    margin-right: 1rem;
  }

  .otherInformationTaxCategory {
    margin-left: 0rem;
    margin-right: 3.1rem;
  }

  .otherInformationSaleCurrencyInput {
    width: 17.6rem !important;
  }

  .otherInformationCostCalculationInput {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 17.59rem !important;
  }

  .otherInformationTaxCategoryInput {
    width: 17.59rem !important;
  }

  .otherInformationInputPart3 {
    margin-top: 1rem !important;
  }

  .otherInformationInputPart4 {
    margin-top: 1rem !important;
  }

  .otherInformationPart4AllInput {
    display: block;
  }

  .otherInformationBoxNumberInput {
    width: 17.6rem !important;
  }

  .otherInformationCalculationTitle {
    margin-left: 0rem !important;
    margin-right: 4.1rem !important;
  }

  .otherInformationCalculationInput {
    width: 5.15rem !important;
  }

  .otherInformationBoxNumber {
    margin-left: 0rem;
    margin-right: 3.1rem;
  }

  .otherInformationVolume {
    margin-right: 5.2rem;
    margin-left: 0rem;
  }

  .otherInformationSpecification {
    margin-right: 5.2rem;
    margin-left: 0rem;
  }

  .otherInformationCalculationTitle {
    margin-right: 4.2rem;
    margin-left: 0rem;
  }

  .otherInformationUploadPhoto {
    margin-top: 0.5rem;
  }

  .otherInformationProductPicture {
    margin-right: 3.5rem;
  }

  .otherInformationUnitWeightInput {
    background-position-x: 98% !important;
  }

  .otherInformationVolumeInput {
    background-position-x: 97%;
  }

  .otherInformationDescriptionInput {
    margin-bottom: 0rem;
  }

  .otherInformationDrugOffTitleInput {
    margin-bottom: 0rem;
  }

  .otherInformationLeastInput {
    margin-bottom: 0rem;
  }

  .otherInformationMaximumInput {
    margin-bottom: 0rem;
  }

  .otherInformationTaxCategoryInput {
    margin-bottom: 0rem;
  }
}

@media screen and (max-width: 598px) {
  #informationForm {
    border: 2px solid darkred;
    width: 90%;
    margin: 0 auto;
  }

  .otherInformation > div {
    display: inline-block;
  }

  .input.form-control:focus {
    border-color: #ccc;
    outline: none;
    box-shadow: none;
  }

  .otherInformationButtonRelative {
    position: relative;
  }

  .otherInformationButton {
    position: absolute;
    bottom: 1.2rem;
    right: -5.6rem !important;
  }
}

@media screen and (max-width: 579px) {
  #informationForm {
    border: 2px solid lightskyblue;
    width: 100%;
    margin: 0 auto;
  }

  .otherInformationDescriptionInput {
    width: 20.1rem !important;
    height: 4.25rem !important;
    margin-left: 5.55rem;
  }

  .otherInformationSupplierInput {
    width: 14rem !important;
  }

  .otherInformationPurchaseInput {
    width: 11.5rem !important;
  }

  .otherInformationSalesInput {
    width: 11.5rem !important;
  }

  .otherInformationButtonRelative {
    position: relative;
  }

  .otherInformationButton {
    position: absolute;
    bottom: 1.2rem;
    right: 0rem !important;
  }
}

@media screen and (max-width: 434px) {
  #informationForm {
    border: 2px solid yellow;
    width: 100%;
    margin: 0 auto;
  }

  .otherInformationDescriptionInput {
    width: 16.5rem !important;
    height: 4.25rem !important;
    margin-left: 5.55rem;
    margin-bottom: 0rem;
  }

  .input {
    /* background: pink; */
    width: 13rem !important;
    height: 1.88rem;
    border-color: lightgray;
    border-radius: 0rem;
    margin-top: 0rem !important;
  }

  .select {
    width: 13rem !important;
    margin-top: 0rem !important;
  }

  .otherInformationCalendarImgRelative {
    position: relative;
  }

  .otherInformationCalendarImg {
    position: absolute;
    left: 13rem !important;
    top: 0.3rem;
  }

  .otherInformationCalendarImg2 {
    position: absolute;
    left: 19.7rem !important;
    top: 0.3rem;
  }

  .otherInformationSaleDateInput {
    width: 6rem !important;
  }

  .otherInformationLeastInput {
    width: 4rem !important;
  }

  .otherInformationMaximum {
    width: 4rem !important;
  }

  .otherInformationDrugOffTitleInput {
    margin-bottom: 0rem;
  }

  .otherInformationLeastInput {
    margin-bottom: 0rem;
    width: 3.9rem !important;
  }

  .otherInformationMaximumInput {
    margin-bottom: 0rem;
    width: 3.9rem !important;
  }

  .otherInformationTaxCategoryInput {
    margin-bottom: 0rem;
  }

  .otherInformationCalculationInput {
    width: 3.4rem !important;
  }

  .otherInformationButtonRelative {
    position: relative;
  }

  .otherInformationButton {
    position: absolute;
    bottom: 1.2rem;
    right: 0rem !important;
  }

  .otherInformationSupplierInput {
    width: 7rem !important;
  }

  .otherInformationPurchaseInput {
    width: 6.9rem !important;
  }

  .otherInformationSalesInput {
    width: 6.9rem !important;
  }
}
